.pokemon.item{
 padding: 15px;
 /*border: 1px solid rgba(50,0,255,.5);*/
 display: block;
 text-decoration: none;
 color: #000;
 z-index: 0;
}

.pokemon.item:hover{
    background: #afafaf;
}
.containerList{
    position: relative;
    margin-bottom: 50px;
}
.pagination{
 position: fixed;
 float: bottom;
 z-index: 1;
 bottom: 0;
 display:flex;
 flex-direction: row;
 background: #3259af;
 width: 100%;
 padding: 5px;
 
}

.nextPage{
    float: right;  
    cursor: pointer;  
}

.previousPage{
    float: left;
    cursor: pointer;
}

.buttonPagination{
    flex: 1;
    padding:10px;
    color: white;
    border-radius: 10px;
    width: 50px;
}

.spinnerContainer{
    height: 100vh;
    margin-top:30%;

}